# Pré-processamento

#### Limpeza de dados

Dados faltantes:
    - Remover o objeto se tiver muitos dados faltantes
    - Imputar valores impiricamente
    - Atribuir uma constante para valores ausentes
    - Hot-deck, imputar valores de acordo com objetos similares ou distâncias próximas
    - Ordenar a base e utilizar valores anteriores ou posteriores
    - Utilizar média ou moda em relação ao dataset todo
    - Utilizar média ou moda de objetos da mesma classe
    - Utilizar modelos preditivos
        
Dados ruidosos:
    - Encaixotamento de mesma largura:
        Divide-se o dataset em caixas e suaviza os valores utilizando a média dessas caixas
    - Encaixotamento de mesma frequência:
        Dividi-se o dataset em caixas e suaviza os valores utilizando o extreme mais próximo
    - Agrupamento:
        Agrupar por valores de classe
    - Aproximação:
        Encontrar a equação da reta e utilizar valores suavizados baseados na equação
        
Dados inconsistentes:
    Para tratar esse tipo de problema é necessário analisar e entender o conjunto de dados

#### Integração de dados

No processo de integração de dados de bases diferentes é necessário verificar se há:
    - Redundâncias entre objetos e atributos (idade e data de nascimento)
    - Duplicidade entre objetos e atributos (mesmos dados em bases diferentes)
    - Conflitos entre objetos e atributos (ex: grandezas dos atributos e valores diferentes para um mesmo objeto)

#### Redução de dimensionalidade

Seleção de atributos:
    - Eliminação de atributos repetitivos ou desnecessários
    
Compressão de atributos:
    - Algoritmos de codificação ou transformação de dados (PCA)
        O algoritmo faz a seleção dos atributos de acordo com uma anáise baseada na correlação dos atributos
    
Redução nos dados:
    - Amostragem:
        Amostragem sem substituição
        Amostragem com substituição
        Amostragem sistemática
        Amostragem estratificada
        Amostragem por grupos

#### Transformação dos dados

Tem como finaidade adequar os dados para serem utilizados em algoritmos de data mining

Padronização:
    - Capitalização:
        Tratar objetos com letras maiúsculas e minúsculas
        
    - Caracteres especiais:
        Tratar caracteres especiais, normalmente problemas com acentuação
        
    - Padronização de formatos:
        Padrões de datas ou formatos de documentos
        
    - Conversão de unidades:
        Padronizar unidades de medida dos objetos
        
Normalização:
    Max-Min: transforma os valores em um intervalo de [0,1]
        
    Score-z: normalização pela média e desvio padrão(valores max e min desconhecidos ou presença de outliers)
        
    Escalonamento decimal
    
    Normalização pelo range interquartil

#### Discretização dos dados

Transformar os valores dos atributros para dados catergóricos, ou seja, a criação de classes
    - Intervalos predeterminados
    - Encaixotamento
    - Analise de histograma
    - Agrupamento
    - Entropia

### Exemplo

Exemplo de pré-processamento em um pequeno dataset sobre covid-19, verificação de incompletude e redundância

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/higoramario/univesp-com360-mineracao-dados/main/dados-covid-limpeza.csv')
df.head()

   id  idade  uf renda  vacina
0   1   15.0  SP     C       1
1   2   38.0  MG   NaN       0
2   3   49.0  RJ     C       0
3   4   71.0  BA   NaN       0
4   5   58.0  MG     D       1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      50 non-null     int64
 1   idade   30 non-null     float64
 2   uf      29 non-null     object
 3   renda   31 non-null     object
 4   vacina  50 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.1+ KB

In [4]:
df.describe()

             id      idade    vacina
count  50.00000  30.000000  50.00000
mean   25.50000  48.666667   0.30000
std    14.57738  22.197131   0.46291
min     1.00000  14.000000   0.00000
25%    13.25000  33.500000   0.00000
50%    25.50000  48.500000   0.00000
75%    37.75000  61.000000   1.00000
max    50.00000  87.000000   1.00000

In [5]:
#verificar redundancia
df['uf'].value_counts()

SP    9
MG    5
BA    3
RS    3
RJ    2
PE    2
sp    1
ce    1
rj    1
CE    1
AM    1
Name: uf, dtype: int64

In [6]:
df['uf'] = df['uf'].str.upper()
df['uf'].value_counts()

SP    10
MG     5
RJ     3
BA     3
RS     3
CE     2
PE     2
AM     1
Name: uf, dtype: int64

In [7]:
df['vacina'].value_counts()

0    35
1    15
Name: vacina, dtype: int64

In [8]:
#preencher valores nulos de idade com a média
df['idade'].fillna(round(df['idade'].mean()), inplace=True)

In [9]:
#preencher valores nulos de uf com o próximo registro
df['uf'].fillna(method='ffill', inplace=True)

In [10]:
#preencher valores de renda com o valor anterior
df['renda'].fillna(method='bfill', inplace=True)

In [11]:
df

    id  idade  uf renda  vacina
0    1   15.0  SP     C       1
1    2   38.0  MG     C       0
2    3   49.0  RJ     C       0
3    4   71.0  BA     D       0
4    5   58.0  MG     D       1
5    6   26.0  SP     B       0
6    7   87.0  BA     A       1
7    8   56.0  MG     A       1
8    9   74.0  BA     C       0
9   10   54.0  SP     C       0
10  11   22.0  SP     C       1
11  12   38.0  SP     C       0
12  13   14.0  RJ     C       1
13  14   49.0  RJ     C       0
14  15   84.0  RS     D       1
15  16   49.0  RS     E       0
16  17   49.0  SP     E       0
17  18   68.0  SP     D       0
18  19   61.0  SP     D       0
19  20   49.0  RS     E       1
20  21   49.0  RS     D       1
21  22   35.0  SP     D       0
22  23   37.0  SP     C       1
23  24   48.0  RS     C       0
24  25   49.0  RS     C       0
25  26   49.0  CE     C       1
26  27   20.0  CE     B       0
27  28   49.0  SP     B       0
28  29   49.0  SP     D       0
29  30   41.0  RJ     D       1
30  31   49.0  RJ     B       0
31  32   87.0  RJ     A       0
32  33   49.0  SP     A       1
33  34   49.0  SP     C       0
34  35   26.0  CE     C       0
35  36   49.0  CE     C       1
36  37   49.0  SP     D       0
37  38   84.0  SP     C       0
38  39   49.0  SP     A       0
39  40   54.0  PE     B       0
40  41   61.0  PE     B       0
41  42   49.0  PE     C       0
42  43   49.0  SP     C       0
43  44   57.0  SP     C       0
44  45   45.0  SP     D       0
45  46   33.0  AM     D       0
46  47   49.0  PE     E       0
47  48   49.0  PE     E       0
48  49   49.0  MG     C       1
49  50   17.0  MG     C       0